* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-size: 16px;
}

body {
    background-color: rgb(0, 0, 0);
    
}


#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 200px;
    padding-bottom: 800px;
    padding-left: 32px;
    width: 100%;
    overflow: hidden;
    
}

.actors {
    margin: 24px 16px 0 0;
}


.topImage {
    width: 100%;
    height: 500px;
    background-color: pink;
    background-image: url("https://occ.a.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSpwEug4tuhVfawRFuDL8pHlyDgvXFolAz5G_YTKvMhzSqt4F0-3QFBt0zfBzMc8Af1RrWCEuz9r3C39Pud__t51SPP8PKyRNUnx.jpg?r=cec");
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: 0px;
    margin-left: 30px;
    z-index: -1;
    
}

.topImage > p {
    font-size: 40px;
    position: absolute; left: 0; top: 0; width: 100%; height: 500px;
    padding: 2em;
    background-image: linear-gradient(to top,
    rgba(0,0,0,1) 10%,
    rgba(0,0,0,.7) 20%,
    rgba(0,0,0,.4) 40%,
    rgba(0,0,0,0) 80%);
    z-index: -1;
}

nav {
    font-weight: 500;
    height: 100px;
    position: sticky;
    top: 0;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
/* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    

}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

a {
    color: white;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input {
    border-radius: 5px;
}

.dropbtn {
    background: none;
    outline: inherit;
    color: inherit;
    font: inherit;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.show {
    display: block;
}

.topMovie {
    color: #ddd;
    font-family: 'Orbitron', sans-serif; 
}

.strangerOverview {
    color: #ddd;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 70px;
    top: 30%;
    width: 40%;
    
}

.trailer {
    background-color: red;
    font-size: 12px;
    color: azure;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid white;
}

.trailerContainer {
    position: absolute;
    top: 350px;
    left: 230px;
    width: 50%;
    margin-left: 10px;
}

nav img {
    height: 70px;
    width: auto;
    margin-top: 10px;
}

h4 {
    
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.movie-list-title {
    font-size: 22px;
    color: #ddd;
    padding-left: 30px;
    margin-top: 430px;
    font-family: 'Orbitron', sans-serif;
}


.container {
    display: flex;
    align-items: center;
    margin-top: 0px;
    height: 300px;
    width: 100%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    margin-bottom: 100px;
    
}

.movieDiv {
    margin-right: 30px;
  position: relative;
}

.movieDiv:hover .movieImage {
    transform: scale(1.2);
    margin: 0 30px;
    cursor: pointer;
    
    
}

.movieImage {
    border-radius: 50px;
    width: 250px;
    height: 250px;
    transition: 1s all ease-in-out;
}

h3 {
    color: #ddd;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: none;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0px;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.526);
}

.arrowContainer {
    z-index: 9;
}

.movies {
    margin-top: 0px;
    margin-left: 94px;
    
}

.cast {
    font-size: 100px;
    color: white;
}


.actors {
    display: flex;
    align-items: center;
    position: absolute;
}

.castContainer {
    display: flex;
    align-items: center;
}

.eachActor {
    padding: 20px;
    transform: translateX(0);
    position: relative;
    left: 50px;
    top: 300px;
    cursor: pointer;

}

.actorName {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.relatedMoviesContainer {
    display: flex;
    align-items: center;
    position: absolute;
}

.eachMovie {
    padding: 20px;
    transform: translateX(0);
    position: relative;
    left: 50px;
    top: 600px;
    cursor: pointer;
}

.relatedContainer {
    display: flex;
    align-items: center;
}

.movieName {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.eachTrailer {
    padding: 20px;
    transform: translateX(0);
    position: relative;
    left: 10px;
    top: 800px;
}

.trailerContainer {
    display: flex;
    align-items: center;
}

.actorsTile {
    font-size: 100px;
    position: absolute;

}